.deliveryBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.deliveryBox > h3 {
  font-size: 110%;
  margin: 0 0 20px 0;
}
.deliveryBox > span {
  font-size: 110%;
  margin: 0 0 20px 0;
}
.deliveryBox > ul {
  display: flex;
  flex-direction: column;
}
.deliveryBox > ul > li {
  display: flex;
  flex-direction: row;
}
.deliveryBox > ul > li:first-child {
  border-bottom: 1px solid #ababab;
}
.deliveryBox > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}
.deliveryBox > ul > li > span {
  font-size: 100%;
  padding: 5px;
}
/*ul > li{*/
/**/
/*}*/
