.goodsBox {
  width: 99%;
  /*position: relative;*/
  /*width: 106vw;*/
  /*min-height: 600px;*/
  background-color: white;
  box-shadow: 0 5px 18px -10px;
  border-radius: 0 0 17px 17px;
}
.goodsInfo {
  /*background-color: white;*/
  /*margin: 0 5px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.descCharComBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 2px solid #e8e8e8;
}
@media (max-width: 1150px) {
  .goodsInfo {
    flex-direction: column;
    justify-content: flex-start;
  }
  .descCharComBox {
    flex-direction: column;
  }
}
