.menuLogoBox {
  display: none;
  justify-content: center;
  height: 50px;
  width: 100%;

  background: linear-gradient(0deg, #770f0f, #530b51);
  background-size: 90% 212%;
}

.menuLogoBox > img {
  height: 50px;
  /*width: 100%;*/
}

@media (max-width: 1150px) {
  .menuLogoBox {
    display: flex;
  }
}
