.searchInputBox {
  /*margin-top: -10px;*/
  width: 95%;
  /*max-width: 50%;*/
  /*position: ;*/

  /*align-items: ;*/

  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 40px;*/
  margin-right: 3vw;
}

.searchBox{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-right: 3vw;
  height: 40px;
}

.btnSearchStart {
  left: 250px;
  /*position: absolute;*/
  /*bottom: -4.5%;*/
  font-size: 15px;
  height: 100%;
  border: none;
  box-shadow: none;
  padding: 6.4px;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.search {
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search .searchInput {
  /*position: absolute;*/
  box-shadow: none;
  width: 100%;
  height: 100%;
  /*color: white;*/
  background-color: white;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 1px solid rgba(255, 255, 255, 0.51);
  padding: 5px 20px 5px 30px;
  font-size: 16px;
  transition: all 0.5s;
}

.search:hover .searchInput {
  outline: none;
  /*border-color: white;*/
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  transition: all 0.5s;
}

.search .searchInput:focus {
  outline: none;
  /*border-color: white;*/
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: all 0.4s;
  width: 100%;
}

.search .searchInput::placeholder {
  font-style: italic;
  font-weight: lighter;
  color: #000000a1;
}

.MuiFilledInput-underline {
  color: red;
}

.searchResultBox{
  width: 95%;
  position: absolute;
  top: 37px;
  height: 50px;
  background-color: #ffffff;
}

.searchIcon {
  position: absolute;
  left: 9px;
  top: 12px;
  font-size: 15px !important;
  z-index: 5;
  color: rgba(0, 0, 0, 0.63);
  font-weight: lighter;
}

@media (max-width: 650px) {
  .searchBox {
    display: none;
  }
}
