.wrapperStatut{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrapperStatut > a{
    padding: 10px;
    font-size: 24px;
    border: 2px solid #222;
    color: #222;
    transition: all .2s;
}

.wrapperStatut > a:hover{
    border: 2px solid #6e6e6e;
    color: #6e6e6e;
    transition: all .2s;
}