.modal_login {
  position: fixed;
  top: 18%;
  left: 38%;
  /*margin: 0 -50% 0 0;*/
  width: 32em;
  min-height: 20em;
  background-color: white;
  /*background: linear-gradient(0deg, rgba(245, 0, 226, 0.11), rgba(0, 138, 255, 0.1));*/
  border-radius: 8px;
  z-index: 12;
  transition: all 1s;
  box-shadow: 0 0 20px 5px rgba(68, 68, 68, 0.7);
}
.modal_login_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.31);
  z-index: 11;
}
