.returnMain {

}
.returnMain > ul {
    display: flex;
    flex-direction: column;
}
.returnMain > ul > li {
    padding: 10px 5px;
    font-size: 16px;
    text-align: justify;
}
.returnMain > ul > li:nth-child(odd) {
    background-color: rgba(83, 11, 81, 0.2);
}