.saltBox {
  overflow: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.saltBox > * {
  padding: 0 3px;
  font-size: 100%;
}
.saltBox a {
  /*width: 100%;*/
  white-space: pre;
  height: 100%;
  font-size: 100%;
  /*text-transform: uppercase;*/
  color: #282729;
  cursor: pointer;
  text-wrap: normal;
}

.saltBox a:hover {
  color: #00cc9d;
}

.goodsName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.icon{
  font-size: 157%;
}
@media (max-width: 800px) {
  .saltBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
