.saltBox {
  overflow: auto;
  overflow: hidden;
}
.saltBox > * {
  padding: 0 3px;
}
.saltBox span {
  /*width: 100%;*/
  white-space: pre;
  height: 100%;
  font-size: 100%;
  /*text-transform: uppercase;*/
  color: #282729;
  cursor: pointer;
  text-wrap: normal;
}

.saltBox span:hover {
  color: #00cc9d;
}

.goodsName {
  text-overflow: ellipsis;
}
@media (max-width: 800px) {
  .saltBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
