.mainInfoBox {
  width: 60%;
}
.infoInBox {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px hsla(0, 0%, 57.3%, 0.5);
  background-color: #fff;
  margin: 39px 0 0 50px;
}

.cuponSelectBox {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  /*height: 25px;*/
}
.cuponTitle {
  margin-right: 8px;
}
.cuponSelectBox > select {
  margin: 0 5px;
  /*height: 50%;*/
  /*width: 160px;*/
  font-size: 16px;
  border: 1px solid #ccc;
  z-index: 5;
}

.cuponSelectBox > select > option {
  font-size: 14px;
  z-index: 5;
}

.cuponSelect {
  width: 50%;
}

.goodsBox {
  /*height: 400px;*/
  /*overflow: auto;*/
  display: flex;
  flex-direction: column;
  /*border: 1px solid black;*/
  padding: 10px 20px;
}
.infoBox {
}
.goods {
  display: flex;
  flex-direction: column;
}
.bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 62%;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 38%;
}
.titlePc {
  font-size: 14px;
  cursor: pointer;
  text-align: left;
}
.titleMob {
  display: none;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
  margin: 5px 0 0 0;
}
.titlePc:hover,
.titleMob:hover {
  text-decoration: underline;
  color: blue;
}
.imgBox {
  width: 70px;
  margin-right: 10px;
}
.imgBox picture {
  width: 100%;
}
.imgBox img,
.imgBox source {
  width: 70px;
  /*height: 100%;*/
}
.count {
  margin: 0 10px;
  font-size: 16px;
  width: 70px;
}
.price {
  text-align: right;
  width: 130px;
  font-size: 21px;
}
.suma {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.suma > div {
  margin: 0 20px;
}
.sumaText {
  font-size: 21px;
}
.sumaCount {
  font-size: 28px;
}
@media (max-width: 1438px) {
  .cuponSelectBox {
    width: 70%;
  }
}
@media (max-width: 1150px) {
  .mainInfoBox {
    width: 100%;
  }
  .infoInBox {
    margin: 20px 0;
  }
}
@media (max-width: 760px) {
  .cuponSelectBox {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .content {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 0;
  }
  .infoInBox {
    margin: 20px 0;
  }
  .goodsBox {
    padding: 0;
    margin: 10px;
  }
}
@media (max-width: 520px) {
  .cuponSelectBox {
    margin: 0 0 20px 0;
  }
  .titleMob {
    display: block;
  }
  .titlePc {
    display: none;
  }
  .bottom {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    justify-content: space-between;
  }
  .right {
    width: auto;
  }
  .price {
    /*width: 90px;*/
    /*text-wrap: none;*/
    /*font-size: 18px;*/
  }
  .count {
    margin: 0 5px;
  }
}

@media (max-width: 380px) {
  .cuponSelectBox {
    width: 100%;
  }
}
@media (max-width: 335px) {
  .right {
    flex-direction: column;
    align-items: flex-end;
  }
  .count {
    margin: 5px 0;
  }
  .suma {
    height: 100px;
    margin: 10px 0 0 0;
  }
  .suma > div {
    margin: 0 10px;
  }
  .sumaText {
    font-size: 18px;
  }
  .sumaCount {
    font-size: 22px;
  }
}
