.btnBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 0 0;
  width: 100%;
  /*padding: 0 20px;*/
}
.saleBtn {
  /*position: relative;*/
  /*background-color: #ffffff;*/
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  cursor: pointer;
  margin: 0 25px;
  border: 1px solid #6b0d68;
  border-radius: 2px;
  /*padding: 0 5px;*/
  font-size: 170%;
  /*transition: all 0.15s;*/
  user-select: none;
  background-color: #a70000;
}
.saleBtn:hover {
  /*transition: background-color, color 0.2s;*/
  /*background-color: #6b0d68;*/
  /*transition: all 0.15s;*/
  color: white;
}
.likeBtn {
  /*background-color: white;*/
  color: #919191;
  /*border-radius: 100px;*/
  /*border: 1px solid #919191;*/
  width: 70px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 20px;
  transition: all 0.3s;
  user-select: none;
}
.likeBtn:hover {
  color: #980000;
  /*background-color: ;*/
  transition: all 0.3s;
}

.likeBtnValue{
  font-size: 108%;
  display: none;
  color: black !important;
}

.likeBtnAct {
  color: #980000;
}
.likeBtnNoAct > * {
  color: #919191;
}
.icon {
  /*color: white;*/
  margin: 0;
  padding: 0;
  font-size: 46px;
}
.iconBasket {
  margin-right: 5px;
}
@media (max-width: 500px) {
  .saleBtn {
    margin: 0 -5px;
    font-size: 180%;
    padding: 5px 0;
    border-radius: 0;
    /*background-color: white;*/
    /*border: none;*/
  }
  .likeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    cursor: pointer;

    border-radius: 0;
    margin: 5px 0;
    font-size: 180%;
    padding: 5px 0;
    /*color: rgb(0, 0, 0);*/
    /*background-color: white;*/
    /*background-color: #6b0d68;*/
    transition: none;
  }

  .likeBtnAct {
    /*background-color: #980000;*/
    /*width: 100%;*/
    /*height: 100%;*/

      background-color: #5a0957;
    /*color: white !important;*/
    transition: none;
  }
  .likeBtnAct > * {
    color: white !important;
  }
  /*.likeBtn:hover {*/
  /*  background-color: #5a0957;*/
  /*  transition: none;*/
  /*}*/
  .likeBtnAct > * {
    /*color: white !important;*/
  }
  .likeBtnNoAct {
    border: 1px solid #dc0400;
    color: #000000;
    background-color: white;
    transition: none;
    /*background-color: white;*/
  }
  .btnBox {
    flex-direction: column;
  }
  .icon {
    display: none;
  }
  .likeBtnValue{
    display: block;
  }
}
@media (max-width: 366px) {
  .saleBtn {
    font-size: 140%;
  }
  .btnBox {
    margin: 0;
  }
  .likeBtnValue{
    font-size: 70%;
  }
}
@media (max-width: 280px) {
  .saleBtn {
    /*font-size: 100%;*/
    height: 35px;
    margin: 0 15px;
  }
  .likeBtn {
    height: 35px;
  }
  .likeBtnValue{
    /*font-size: 70%;*/
  }
}
